body{
text-align: center;
}

#light{
    width: 100px;
    height: 40px;
    margin: 30px;
    background-color: #f0f0f0;
    
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


#dark{
    width: 100px;
    height: 40px;
    margin: 30px;
     background-color: #f0f0f0;

    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}